# CODEOWNERS file

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# Specify the default code owners for the repository
*       @csilva-intakedesk

# Specify code owners for specific directories or files
# /docs/ @docs-team
# /src/ @dev-team
# /tests/ @qa-team